<h2>Update Category</h2>
<div style="text-align: center">
    <form [formGroup]="userForm" (submit)="updateUser(user.id)"></form>
    <mat-form-field appearance="fill" style="width: 500px">
        <mat-label>User Name</mat-label>
        <input matInput style="width: 500px" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 500px">
        <mat-label>User Name</mat-label>
        <input matInput style="width: 500px" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 500px">
        <mat-label>User Name</mat-label>
        <input matInput style="width: 500px" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 500px">
        <mat-label>User Name</mat-label>
        <input matInput style="width: 500px" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 500px">
        <mat-label>User Name</mat-label>
        <input matInput style="width: 500px" formControlName="name">
    </mat-form-field>

    <div class="example-button-row">
        <button>Update</button>
        <button type="reset">Reset</button>
        <!--        <button mat-raised-button color="primary">Create</button>-->
    </div>
</div>



