<header focusOnNavigation class="docs-header-background header mat-toolbar mat-primary"
       aria-label="Get started" id="homepage-header">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">NGX Audio Player</h1>
      <h2> Audio Player for Angular</h2>
    </div>
    <div>
      <a mat-raised-button style="text-decoration: none!important;" routerLink="/guide/getting-started">Get started</a>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-12" style="margin: 50px 0; border: 2px solid #BBBBBB; padding: 50px; border-radius: 5px">
        <div class="row justify-contents-around">
          <div class="col py-3 pl-3">
            <div class="col">
              <h6>Controls</h6>
              <div class="d-flex flex-row px-3">
                <mat-checkbox (change)="changeMsaapDisplayTitle($event)" [checked]="msaapDisplayTitle"
                  class="px-3 mat-advanced-player-display-title">
                </mat-checkbox>
                displayTitle: {{msaapDisplayTitle}}
              </div>
              <div class="d-flex flex-row px-3">
                <mat-checkbox (change)="changeMsaapDisplayPlayList($event)" [checked]="msaapDisplayPlayList" [disabled]="msaapPlaylist.length==1"
                  class="px-3 mat-advanced-player-display-playlist">
                </mat-checkbox>
                displayPlayList: {{msaapDisplayPlayList}}
              </div>
              <div class="d-flex flex-row px-3">
                <mat-checkbox (change)="changeMsaapDisablePositionSlider($event)"
                  [checked]="msaapDisablePositionSlider" class="px-3 mat-basic-player-display-title">
                </mat-checkbox>
                disablePositionSlider: {{msaapDisablePositionSlider}}
              </div>
              <div class="d-flex flex-row px-3">
                <mat-checkbox (change)="changeMsaapDisplayVolumeControls($event)" [checked]="msaapDisplayVolumeControls"
                  class="px-3 mat-basic-player-display-title">
                </mat-checkbox>
                displayVolumeControls: {{msaapDisplayVolumeControls}}
              </div>
            </div>
            <div class="col py-3">
              <h6>Data</h6>
              <div class="px-3 py-1">
                <button mat-stroked-button (click)="setSingleTrack()">Set Single Track</button>
              </div>
              <div class="px-3">
                <button mat-stroked-button (click)="appendTracksToPlaylist()"
                  [disabled]="appendTracksToPlaylistDisable">Append Tracks To Playlist</button>
              </div>
            </div>
            <div class="col">
              <h6>Logging</h6>
              <p class="px-3">
                <button (click)="logCurrentTrack()" mat-stroked-button>Log Current
                  Track
                </button>
                {{currentTrack?.title}}
              </p>
              <p class="px-3">
                <button (click)="logCurrentTime()" mat-stroked-button>Log Current
                  Time
                </button>
                {{currentTime}}
              </p>
              <p class="px-3">
                <button (click)="consoleLogCurrentData()" mat-stroked-button>Console Log Current
                  Data
                </button>
              </p>
            </div>
          </div>
          <div class="col">
            <ngx-audio-player #player (trackEnded)="onEnded($event)" [autoPlay]="false" [displayPlaylist]="msaapDisplayPlayList" 
            [tableHeader]="msaapTableHeader" [columnHeader]="msaapColumnHeader" [displayTitle]="msaapDisplayTitle"
              [displayVolumeControls]="msaapDisplayVolumeControls" [disablePositionSlider]="msaapDisablePositionSlider"
              [expanded]="true" [pageSizeOptions]="pageSizeOptions" [playlist]="msaapPlaylist">
            </ngx-audio-player>
          </div>
        </div>
      </div>
  </div>
</div>

<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Stroked</div>
  <div class="example-button-row">
    <button mat-stroked-button>Basic</button>
    <button mat-stroked-button color="primary">Primary</button>
    <button mat-stroked-button color="accent">Accent</button>
    <button mat-stroked-button color="warn">Warn</button>
    <button mat-stroked-button disabled>Disabled</button>
    <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Flat</div>
  <div class="example-button-row">
    <button mat-flat-button>Basic</button>
    <button mat-flat-button color="primary">Primary</button>
    <button mat-flat-button color="accent">Accent</button>
    <button mat-flat-button color="warn">Warn</button>
    <button mat-flat-button disabled>Disabled</button>
    <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Icon</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
          <mat-icon>bookmark</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="warn" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab disabled aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Mini FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
          <mat-icon>plus_one</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
